<form action="/recepti/<%=recipe._id%>/comment" method="POST" class="comment">
  <div class="comment_header">
    <h1>Komentari:</h1>
  </div>

  <div class="comment_controll">
    <label for="comment">Unesi svoj komentar:</label>
    <input id="comment" name="comment" required></input>

    <div class="comment_action">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
