<nav class="nav">
    <h1 class="nav__logo">RECEPTI<span>SAAI</span></h1>
    <div class="nav__links">
      <a href="/recipes">RECEPTI</a>
      <a href="/add-recipe">DODAJ RECEPT</a>
    </div>
  </nav>