<nav class="nav">
    <h1 class="nav__logo">RECEPTI<span>SAAI</span></h1>
    <div class="nav__links">
      <a href="/recepti">RECEPTI</a>
      <a href="/dodaj-recept">DODAJ RECEPT</a>
    </div>
  </nav>