</head>
<li class="list_list_item">
    <div class="one_third">
        <img src="<%= recipe.imgUrl %>" class="recipe_img" />
    </div>

    <div class="two_third">
        <div class="recipe_info">
        <h2 class="recipe_header"><%= recipe.name %></h2>
        <p class="recipe_categoryId">
            <% const categoryId = recipe.categoryId; %>
            <% const category = categories.find(cat => cat._id.toString() === categoryId.toString()); %>
            <% if (category) { %>
              <%= category.name %>
            <% } else { %>
              Kategorija nije pronađena
            <% } %>
          </p>

          <div>
        
            <a href="/recipe/<%= recipe._id %>" class="read_more_btn">Više</a>
          </div>
        </div>
    </div>
  
  
  
</li>
